<div class="panel panel-default">
    <div class="panel-heading">
        Bordered Table
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>名前</th>
                        <th>更新</th>
                        <th>サイズ</th>
                    </tr>
                </thead>
                <tbody>
                <% @people.earch do |person| %>
                    <tr>
                        <td><%= person.id%></td>
                        <td><%= preson.name%></td>
                        <td><%= person.age%></td>
                        <td><%= person.memo%></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
